.meta
  %i.fa-solid.fa-clock
  January 10, 2023 3:45 PM
  %br/
  
  %i.fa-solid.fa-tag
    &nbsp;
  %a.tag{href: "/tag/blogs"} 
    blogs
  
  %i.fa-solid.fa-tag  
  %a.tag{href: "/tag/websites"} 
    websites
  
  %i.fa-solid.fa-tag  
  %a.tag{href: "/tag/candidates"} 
    candidates
  
    