%nav
  %ul
    %li
      %a{ :href => "/preview", :title => "Preview" }
        %i.fa-solid.fa-magnifying-glass.meteor
        Preview
    %li
      %a{ :href => "/raw", :title => "Raw HTML" }
        %i.fa-solid.fa-code.meteor
        Raw