%h3 Recent Posts
%ul
  %li
    %a{href: "/2023/01/so-git-publishing-works"} So git publishing works?
  %li
    %a{href: "/2023/01/biodiesel-craft-beer-kinfolk"} Biodiesel craft beer kinfolk
  %li
    %a{href: "/2022/11/its-some-new-post"} It's some new post